bootstrap.servers=kafka.central.svc.cluster.local:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username='kafka-client'   password='kafka-client-secret';
sasl.mechanism=PLAIN
ssl.truststore.location=secrets/kafka-truststore.jks 
ssl.truststore.password=mystorepassword
ssl.keystore.location=secrets/kafka-keystore.jks 
ssl.keystore.password=mystorepassword 
ssl.key.password=mystorepassword
ssl.endpoint.identification.algorithm=